*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    overflow-x: hidden;
    font-family: 'Roboto';
    scroll-behavior: smooth;
    
/* background-image: url(hex-textured-background-networking.jpg); */
}

header{
    
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 1rem 9%;
background-color: rgba(148,187,233,1);
filter: drop-shadow(10px);
display: flex;
justify-content: space-between;
align-items: center;
z-index: 100;
}

.logo{
    font-size: 25px;
    color: #333333 ;
    text-decoration: none;
    transition: 0.5 ease;
}

.logo:hover{

transform:scale(1.1);

}

nav a{
    font-size: 20px;
    color: #34495E;
    text-decoration: none;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    

}

a:hover, a.active{
color: grey;

}

section{

    min-height: 100vh;
    padding: 4rem 9% 5rem;
}

.home  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);    

}

.home .intro h1{
font-size: 40px;
line-height: 1.3;
font-weight: bold;
color: #2C3E50 ;
}

.home .intro h4{
font-size: 35px;
margin-bottom: 1rem;
font-weight: 200;
color: #34495E;

}

.home .intro p{
    color: #34495E;

}
.home .intro h5{
    padding-top: 20px;
    color: #2C3E50;
}

@keyframes bounce{
    0% {
        transform: translate3d(0, 0, 0); /* Start at normal position */
    }
    50% {
        transform: translate3d(0, -70px, 0); /* Move up a little */
    }
    100% {
        transform: translate3d(0, 0, 0); /* Return to normal position */
    }
}


.home-img {
    border-radius: 50% ;  
    width: 40rem;       
    height: 40rem;      
    overflow: hidden;    
    display: flex;       
    justify-content: center;
    align-items: center;
    /* transition: transform 0.3s ease;  */
    animation: bounce 3s ease;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    border: 0.5rem solid azure;

  }
  
.home-img img{
    width: 100%;         
    height: 100%;        
    object-fit: cover; 
    

} 

 .home-img img:hover{
font-size: 1.8rem;
font-weight: 500;

 }

 .icons a{
display: inline-flex;
justify-content: center;
align-items: center;
width: 4rem;
height: 4rem;
font-size: 3vh;
border-radius: 50%;
border: 0.2rem solid lightblue;
margin-top: 30px;
text-decoration: none;
color: azure;
 }

 .icons a:hover{
    color: lightblue;
    transform: scale(1) translateY(-2px);


 }


 #about{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);   
   
 }

 .aboutme h1{
padding-bottom: 15px;
 }
.container {
    width: 80%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  .tab {
    overflow: hidden;
    background: transparent;
  
  }

  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 20%;
    transition: 0.3s;
    font-size: 17px;
    display: flex;
    width: 50%;                
    color: #333333 ;

  }

  .tab button:hover {
    background-color: rgba(148,187,233,1);
}

  .tab button.active {
    background-color: rgba(148,187,233,1);
}

  .tabcontent {
    display: none;
    padding: 60px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    background: transparent;
  }

  @-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }

 .seccontainer{
  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  } 

#skills{

    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);   
   

}

.skills h1, h4{

padding-bottom: 30px;
color: #2C3E50 ;

}

 .skills img{
    width: 7rem;       
    height: 7rem;
    display: inline-flex;
justify-content: space-between;
align-items: center;
padding: 15px;
 }

footer{

background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);  

}
footer .icons a{

    margin-left: 200px;
    border: 0.3rem solid lightblue;

}
.wrap{
    display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      flex-direction: row ;  
    } 

    #contact .icons a{

        display: inline-flex; 
        justify-content: center;
        align-items: center;
        width: 8rem;
        height: 8rem;
        font-size: 6vh;
        border-radius: 50%;
        border: 0.2rem solid lightblue;
        margin-top: 30px;
        text-decoration: none;
        color: azure;

    }

    h3{
        margin-left: 12%;
        color: #2C3E50;

    }
    .seccontainer img{
        width: 7rem;       
        height: 7rem;
        display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
     }

     .service-container {
        display: flex;
        justify-content: space-between;
        gap: 30px;

        
      }
  
      .service-left,
      .service-right {
        width: 48%;
        margin-top: 40px;
       color: #151f29;
      }
     
      .services h1{
        color: #2C3E50;

      }

      